*{
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
    }
   
    .logo {
        height: 125px;
        width: 125px;
        margin-top: 1%;
    }
    .container {
        height: 100vh;
        background-image: url(bg.jpg);
        background-size: cover;
        background-position: center;
        padding: 20px 5%;
        transition:  0.5s;
        }
        
        ul{
         list-style: none;
         display: flex;
         align-items: center;
         gap: 40px;
         justify-content: center;   
        }
        li{
            float: left;
            
            
        }
        li a{
            position: relative;
            display: inline-block;
            text-decoration: none;
            color: black;
            font-weight: 750;
            transition: 0.3s ease-in-out;
            font-size: 22px;
            
        }
        li a:hover{
            color: red;
            transform: translateY(-10px);
        }
        .home {
            color:red;
        }
        a {
            position: relative;
            display: inline-flex;
            text-decoration: none;
            color: black;
            font-weight: 700;
            transition: 0.3s ease-in-out;
            font-size: 22px;

        }
         a:hover{
            color: red;
            transform: translateY(-10px);
        }
    nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    display: flex;
    }
   .car{
    position: absolute;
    top: 25%;
    left: 34%;
    width: 1144px;

    padding: 0%;
    margin: 0%;
   }
  
    nav ul {
    flex: 1;
    text-align: center;
    }
    .content {
        margin-top: 10%; }
    .content h2 {
        color: rgb(85, 7, 7);
        font-size: 34px;
        }
    .content h1 {
        font-size: 100px;
        color: #222020;
        margin-top: -20px;
        }
    .content p {
        max-width: 500px;
        font-weight: 500;
        font-size: 18px;
        color: black;
        }
    .content h3 {
        margin-top: 30px;
        font-weight: 600;
        font-size: 30px;
        }
    .colour-select div {
        background: #333;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-right: 10px;
        cursor: pointer;
        }
    .colour-select {
        display: flex;
        margin-top: 30px;
        }
    .colour-select #red {
    background: #ad0018;
    transition: 0.3s ease-in-out;
    
    }
    
    .colour-select #red:hover {
        transform: translateY(-10px);
    }
    
    .colour-select #green {
    background: #00591f;
    transition: 0.3s ease-in-out;
    }
    .colour-select #green a {
        color: white;
        top: 18px;
        left: 1px;
    }
    .colour-select #green:hover {
    transform: translateY(-10px);
    }
    .colour-select #blue {
    background: #062048;
    transition: 0.3s ease-in-out;
    }
    .colour-select #blue a {
        color: white;
        top: 17px;
        left: 7px;
    }
    .colour-select #blue:hover {
        transform: translateY(-10px);
    }
    button {
        background-color: #242222;
        color: white;
        width: 150px;
        height: 50px;
        font-size: 17px;
        border-radius: 30px;
        margin: 20px 0 -20px;
        cursor: pointer;
        transition: 0.3s ease-in-out;
        border: 0;
        }
    button:hover {
        background: black;
        transform: translateY(-10px);
        }   
    .footer{
        font-size: 20px;
        margin-top: 7%;
        text-align: right;
        padding: 0;
    }
